@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0 !important;
  margin: 0 !important;
  color: black;
}

td,
th {
  @apply px-4 py-1.5 border-b border-stone-300 text-left text-xs sm:text-sm;
}

p {
  @apply mb-2;
}

a {
  @apply font-semibold text-red-600 hover:text-red-500 transition cursor-pointer;
}

.react-multi-carousel-dot:nth-child(3n + 1) button {
  @apply bg-black;
}

.react-multi-carousel-dot:nth-child(3n + 2) button {
  @apply bg-red-500;
}

.react-multi-carousel-dot:nth-child(3n) button {
  @apply bg-yellow-500;
}

.react-multi-carousel-dot button {
  @apply border-[1px];
}

.react-multi-carousel-dot--active button {
  @apply border-stone-300 border-[1px];
}

.scrollbar-transparent::-webkit-scrollbar {
  @apply hidden;
}

th:first-child {
  @apply left-0 bg-stone-300 sticky sm:relative;
}

td:first-child {
  @apply sticky left-0 bg-stone-200 sm:bg-transparent border-b border-b-stone-300 sm:relative;
}

th:nth-child(2) {
  @apply left-[74px] sm:left-0 bg-stone-300 sticky sm:relative;
}

td:nth-child(2) {
  @apply sticky left-[74px] sm:left-0 bg-stone-200 sm:bg-transparent sm:relative;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
}

.hamburger-bar1,
.hamburger-bar2,
.hamburger-bar3 {
  @apply bg-white my-[4px] h-[3px] w-[20px] opacity-80 hover:opacity-100 transition;
}

.wrapper-list-decimal ol {
  @apply list-decimal pl-6;
}
